# node + pnpm
node_modules/
pnpm-lock.yaml

# build output
 dev-dist/
dist/
build/

# IDEs
.vscode/
.idea/
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# PWA cache/dev
workbox-*.js
service-worker.js

# Others
coverage/
*.local
